# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management

on init
    write /sys/block/zram0/comp_algorithm lz4
    write /sys/block/zram0/max_comp_streams 4
    write /sys/block/zram0/disksize 1073741824

on post-fs-data
    # Enable Spectrum support
    setprop spectrum.support 1

   # Boot time fs tune
   write /sys/block/mmcblk0/queue/scheduler cfq
   write /sys/block/mmcblk1/queue/scheduler cfq
   write /sys/block/mmcblk0/queue/iostats 0
   write /sys/block/mmcblk1/queue/iostats 0
   write /sys/block/mmcblk0/queue/iosched/slice_idle 0
   write /sys/block/mmcblk1/queue/iosched/slice_idle 0
   write /sys/block/mmcblk0/queue/read_ahead_kb 2048
   write /sys/block/mmcblk1/queue/read_ahead_kb 2048
   write /sys/block/mmcblk0/queue/nr_requests 256
   write /sys/block/mmcblk1/queue/nr_requests 256
   write /sys/block/mmcblk0/queue/add_random 0
   write /sys/block/mmcblk1/queue/add_random 0

on property:sys.boot_completed=1
    # Set default profile on first boot
    exec u:r:init:s0 root root -- /init.spectrum.sh
    # exec u:r:su:s0 root root -- /init.spectrum.sh

    # Add kernel name
    setprop persist.spectrum.kernel "eXtreme"

    # according to Qcom this legacy value improves first launch latencies
    # stock value is 512k
    setprop dalvik.vm.heapminfree 2m

    write /proc/sys/vm/swappiness 100
    write /sys/module/lowmemorykiller/parameters/minfree "18432,23040,27648,32256,36864,46080"
    write /proc/sys/net/ipv4/tcp_congestion_control cubic

    # Hifi_mode
    write /sys/kernel/hifi_mode/enable_hifi_mode "1"

#* Balance *#(default profile)
on property:persist.spectrum.profile=0 && property:init.svc.qcom-post-boot=stopped

    # CPU
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 518400
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2419200
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 20000 1036800:60000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1036800
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 80000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "98 518400:67 691200:72 864000:75 1036800:77 1209600:78 1382400:80 1555200:81 1728000:81 1900800:82 2073600:83 2246400:83 2419200:99"
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 45000
    write /sys/devices/system/cpu/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpufreq/interactive/align_windows 0
    write /sys/devices/system/cpu/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpufreq/interactive/enable_prediction 0
    write /sys/devices/system/cpu/cpufreq/interactive/fast_ramp_down 0

    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/class/devfreq/soc\:qcom,cpubw/governor bw_hwmon
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133330000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 779000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 779000000
    write /sys/module/adreno_idler/parameters/adreno_idler_active Y

    # Storage
    write /sys/block/mmcblk0/queue/scheduler anxiety
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk1/queue/scheduler anxiety
    write /sys/block/mmcblk1/queue/read_ahead_kb 512

    # Misc
    chmod 0664 /sys/module/workqueue/parameters/power_efficient
    write /sys/module/workqueue/parameters/power_efficient Y

    # Fsync
    write /sys/module/sync/parameters/fsync_enabled Y

    # I/O Statics
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0rpmb/queue/iostats "0"
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk1/queue/add_random 0

    # Laptop Mode
    write /proc/sys/vm/laptop_mode "5"

#* Performance *#
on property:persist.spectrum.profile=1 && property:init.svc.qcom-post-boot=stopped

    # CPU
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1036800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2764800
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 80
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 20000 1555200:60000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 40000
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1555200
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 480000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "98 1036800:77 1209600:78 1382400:80 1555200:81 1728000:81 1900800:82 2073600:83 2246400:83 2419200:84 2592000:84 2764800:99"
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 50000
    write /sys/devices/system/cpu/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpufreq/interactive/align_windows 0
    write /sys/devices/system/cpu/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpufreq/interactive/enable_prediction 0
    write /sys/devices/system/cpu/cpufreq/interactive/fast_ramp_down 0

    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/class/devfreq/soc\:qcom,cpubw/governor bw_hwmon
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133330000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 1037000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 1037000000
    write /sys/module/adreno_idler/parameters/adreno_idler_active N

    # Storage
    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk1/queue/scheduler cfq
    write /sys/block/mmcblk1/queue/read_ahead_kb 512

    # Misc
    chmod 0664 /sys/module/workqueue/parameters/power_efficient
    write /sys/module/workqueue/parameters/power_efficient N

    # Fsync
    write /sys/module/sync/parameters/fsync_enabled N

    # I/O Statics
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0rpmb/queue/iostats "0"
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk1/queue/add_random 0

    # Laptop Mode
    write /proc/sys/vm/laptop_mode "0"


#* Battery *#
on property:persist.spectrum.profile=2 && property:init.svc.qcom-post-boot=stopped

    # CPU
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 373028
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1555200
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 95
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 691200
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 480000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "98 373028:64 518400:67 691200:72 864000:75 1036800:77 1209600:78 1382400:80 1555200:99"
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 45000
    write /sys/devices/system/cpu/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpufreq/interactive/align_windows 0
    write /sys/devices/system/cpu/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpufreq/interactive/enable_prediction 0
    write /sys/devices/system/cpu/cpufreq/interactive/fast_ramp_down 0

    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/class/devfreq/soc\:qcom,cpubw/governor bw_hwmon
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133330000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 485000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 485000000
    write /sys/module/adreno_idler/parameters/adreno_idler_active Y
  
    # Storage
    write /sys/block/mmcblk0/queue/scheduler anxiety
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk1/queue/scheduler anxiety
    write /sys/block/mmcblk1/queue/read_ahead_kb 512

    # Misc
    chmod 0664 /sys/module/workqueue/parameters/power_efficient
    write /sys/module/workqueue/parameters/power_efficient Y

    # Fsync
    write /sys/module/sync/parameters/fsync_enabled Y

    # I/O Statics
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0rpmb/queue/iostats "0"
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk1/queue/add_random 0

   # Laptop Mode
    write /proc/sys/vm/laptop_mode "5"

#* Gaming *#
on property:persist.spectrum.profile=3 && property:init.svc.qcom-post-boot=stopped

    # CPU
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 2764800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2764800

    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # GPU
    
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance
    write /sys/class/devfreq/soc\:qcom,cpubw/governor performance
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 1166000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 1166000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 1166000000
    write /sys/module/adreno_idler/parameters/adreno_idler_active N

    # Storage
    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk1/queue/scheduler cfq
    write /sys/block/mmcblk1/queue/read_ahead_kb 512

    # Misc
    chmod 0664 /sys/module/workqueue/parameters/power_efficient
    write /sys/module/workqueue/parameters/power_efficient N

    # Fsync
    write /sys/module/sync/parameters/fsync_enabled N

    # I/O Statics
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0rpmb/queue/iostats "0"
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk1/queue/add_random 0

    # Laptop Mode
    write /proc/sys/vm/laptop_mode "0"
